@media screen and (max-width: 576px){
    .banner{
        display: block;
        height: 90%;
    }
    .left-leaf{
        margin-top: -10px;
    }
    .banner-title{
      
       margin-top: 100px;

    }
}





















